    :root {
        --cor-primaria: #3b2500ff;
        --cor-secundaria: rgb(248, 239, 218);
        --cor-terceira: rgb(253, 230, 182);
    }

    .produtos__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px 20px 0px;
    }

    .produtos__header h2 {
        color: var(--cor-primaria);
        font-size: 30px;
        margin: 0;
    }

    .produtos__acoes {
        display: flex;
        gap: 15px;
    }

    .btn__acao {
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
    }

    .btn__adicionar {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }

    .btn__adicionar:hover {
        background-color: #553500;
    }

    .btn__filtrar {
        background-color: var(--cor-terceira);
        color: var(--cor-primaria);
        border: 1px solid var(--cor-primaria);
    }

    .btn__filtrar:hover {
        background-color: #f7e0bc;
    }

    /* TABELA ESTILOS  */
    .produtos__tabela {
        width: 100%;
        border-collapse: collapse;
        background-color: var(--cor-secundaria);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .produtos__tabela thead th {
        background-color: var(--cor-primaria);
        color: var(--cor-terceira);
        padding: 12px 12px;
        text-align: left;
        height: 38px;
        font-weight: 500;
        text-transform: none;
        font-size: 17px;
    }

    .produtos__tabela tbody tr {
        border-bottom: 1px solid var(--cor-terceira);
        color: var(--cor-primaria);
        background-color: var(--cor-secundaria);
    }

    .produtos__tabela tbody tr:nth-child(odd) {
        background-color: var(--cor-terceira);
    }

    .produtos__tabela td {
        padding: 6px 15px;
        font-size: 0.95rem;
    }

    /*  (PAGINAÇÃO) */
    .produtos__tabela tfoot td {
        background-color: var(--cor-terceira);
        padding: 15px;
        border-top: none;
        border-top: 1px solid rgba(59, 37, 0, 0.3);
    }

    .produtos__paginacao {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--cor-primaria);
        width: 100%;
    }

    .paginacao__info {
        font-weight: 600;
        margin-left: 10px;
    }

    .paginacao__botoes {
        display: flex;
        border: 1px solid rgba(59, 37, 0, 0.3);
        border-radius: 5px;
        overflow: hidden;
    }

    .paginacao__botoes a,
    .paginacao__botoes .active-page-number {
        padding: 5px 10px;
        margin: 0;
        text-decoration: none;
        color: var(--cor-primaria);
        transition: background-color 0.2s;
        background-color: var(--cor-secundaria);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
    }

    .paginacao__botoes a:first-child {
        border-right: 1px solid rgba(59, 37, 0, 0.3);
    }

    .paginacao__botoes .active-page-number {
        border-right: 1px solid rgba(59, 37, 0, 0.3);
    }

    .paginacao__botoes .active-page-number {
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }

    .paginacao__botoes a:hover {
        background-color: var(--cor-terceira);
    }

    .status-sim,
    .status-nao {
        display: inline-block;
        padding: 4px 10px;
        border-radius: 6px;
        font-weight: 600;
        font-size: 0.9rem;
        color: #fff;
        text-align: center;
        margin-top: 18px;
    }

    /* Verde pro Ativo */
    .status-sim {
        background-color: #28a745;
        margin-left: 5px;
    }

    /* Vermelho pro Inativo */
    .status-nao {
        background-color: #92182f;
    }

    .id__circle {
        display: flex;
        gap: 5px;
        font-weight: 700;
        text-align: left;
    }

    .circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: var(--cor-primaria);
        display: inline-block;
    }

    .produto__info-completa {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
    }

    .produto__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid rgba(59, 37, 0, 0.5);
    }

    .produtos__acoes-col {
        width: 40px;
    }

    .produtos__acoes-col a {
        color: var(--cor-primaria);
        font-size: 1.1rem;

    }

    .produtos__acoes-col a:hover {
        color: #8b6b3e;
    }

    .editar {
        text-decoration: none;
        margin-left: 10px;
    }

    .dropdown-filtro {
        position: absolute;
        background-color: var(--cor-secundaria);
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        top: 165px;
        right: 0px;
        margin-right: 30px;
        min-width: 150px;
        z-index: 1000;
        display: none;
        border: 1px solid rgb(66, 45, 6);

    }

    /* Cada item de categoria */
    .dropdown-filtro .categoria {
        padding: 10px 15px;
        cursor: pointer;
        font-weight: 500;
        transition: background-color 0.2s;
        display: block;
    }

    .dropdown-filtro .categoria:hover {
        background-color: var(--cor-terceira);
        border-radius: 8px;
    }

    .btn__filtrar {
        cursor: pointer;
        position: relative;
    }

    .admin-badge {
        display: inline-block;
        padding: 4px 10px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 0.9em;
        text-align: center;
        min-width: 60px;
    }

    .admin-badge.sim {
        background-color: #38761d;
        color: white;
    }

    .admin-badge.nao {
        background-color: #a61c00;
        color: white;
    }


    .filtro-ativo-container {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        gap: 10px;
    }

    .filtro-chip {
        display: inline-flex;
        align-items: center;
        padding: 5px 12px;
        background-color: #f7e9d7;
        border: 1px solid #d4b88f;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #4a3e35;
        margin-left: 1415px;
    }

  
    .remover-filtro {
        margin-left: 8px;
        cursor: pointer;
        color: #4a3e35;
        font-size: 14px;
        text-decoration: none;
        transition: color 0.2s;
    }

    .remover-filtro:hover {
        color: #e74c3c;
    }

    .produtos__tabela td.produtos__acoes-col { 
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 10px; 
    padding: 6px 0; 
    margin-top: 17px;
    margin-left: 10px;
}

.produtos__acoes-col a {
    color: var(--cor-primaria);
    font-size: 1.1rem;
    margin-left: 0; 
}

.produtos__tabela thead th.produtos__acoes-col {
    text-align: center;
}