:root {
    ---fontfamily: 'Calibri', 'Trebuchet MS', 'Segoe UI', sans-serif;
    --cor-primaria: #3b2500ff;
    --cor-secundaria: #fff0d0ff;
    --cor-terceira: rgb(253, 230, 182);
    --TamanhoFont-Titulo: 60px;
}


/* ======= ESTILO GERAL ======= */
body {
    margin: 0;
    padding: 0;
    font-family: var(--fontfamily);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/sugarbeat_admin/fotos/imglogin1.jpg') no-repeat center center/cover;
    position: relative;
}

/* ======= CAMADA TRANSPARENTE (OVERLAY) ======= */
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Marrom escuro com 50% transparência */
    z-index: 0;
}

/* ======= CONTAINER CENTRAL ======= */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 1;
    /* Garante que fique acima do overlay */
}

/* ======= CAIXA DE LOGIN ======= */
.login-box {
    background-color: var(--cor-primaria);
    width: 400px;
    padding: 40px 50px;
    text-align: center;
    border-radius: 10px;

}

/* ======= LOGO ======= */
.login-logo {
    width: 60px;
    height: 60px;
    background-color: var(--cor-terceira);
    border-radius: 50%;
    margin: 0 auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======= TÍTULO ======= */
.login-title {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: normal;

    font-family: var(--fontfamily);
}

/* ======= CAMPOS ======= */
.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    color: white;
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-terceira);
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    border-radius: 5px;
}

/* ======= CHECKBOX ======= */
.show-password-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
    font-size: 16px;
}

.show-password-container input {
    accent-color: var(--cor-terceira);
    margin-right: 5px;
}

.show-password-label {
    color: white;
}

/* ======= BOTÃO ======= */
.access-button {
    background-color: var(--cor-terceira);
    border: none;
    padding: 10px 0;
    width: 160px;
    font-size: 18px;
    cursor: pointer;
    color: var(--cor-primaria);
    transition: 0.3s;
    border-radius: 5px;
    font-weight: bold;
}

.access-button:hover {
    background-color: #f2d49e;
}

/* ======= ERRO ======= */
.error-message {
    background-color: #f8d7da;
    color: #842029;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 16px;
    width: 405px;
}